
/* Hide all steps by default: */
.tab {
    display: none;
}

.jumbotron {
    background-size: cover;
}

body {
    background-image: url("images_q/bg.png");
    background-image: url("images_q/que.png");
    background-size: cover;
}

#table{
    background-image: url("images_q/cel.png");
    background-size: auto;
}

input:focus{
    outline: none;
}

#timer{
    padding: 1em;
}

.timerContainer{
    width: 20%;
}

